/* Center calculator on screen */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #f0f0f0; */
  background: rgb(189, 232, 245);
  font-family: Arial;
  padding: 10px;

}

/* Calculator box styling */
.calculator {
  /* background: #fff; */
  background: rgb(28, 77, 141);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 320px;
  font-weight: bold;
}


/* Display screen styling */
.display {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: right;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bolder;
  box-sizing: border-box;
  background: white;
  color: black;
}

/* Button grid */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 8px 0;
}


/* Button style */
.buttons button {
  padding: 15px 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  background: rgb(73, 136, 196);
  margin: 0;
  font-weight: bold;
}

/* Hover effect */
.buttons button:hover {
  background: #d0d0d0;
}

/* Operator buttons */
.operator {
  color: black;
}

/* Memory buttons */
.memory {
  color: black;
}

/* Clear button */
.clear {
  color: black;
}

/* Mobile Devices */
@media (max-width: 480px) {
  .calculator {
    padding: 20px;
  }
  .display {
    height: 45px;
    font-size: 16px;
  }
  .buttons button {
    padding: 12px 4px;
    font-size: 16px;
  }
}

/* Tablet Devices  */
@media (min-width: 481px) and (max-width: 768px) {
  .calculator {
    max-width: 360px;
  }
  .display {
    height: 50px;
    font-size: 18px;
  }
  .buttons button {
    padding: 14px 5px;
    font-size: 18px;
  }
}

/* Laptop & Desktop */
@media (min-width: 769px) {
  .calculator {
    max-width: 320px;
  }
}
